@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  opacity: 1;
  background-color: transparent;

  &--primary {
    background-color: $primary-cyan-70;
    color: $color-white;
    padding: 10px 20px;
    &:hover {
      background-color: $primary-cyan-50;
    }
  }

  &--dialog {
    padding: 10px 20px;
    &:hover {
      background-color: $primary-cyan-50;
    }
  }
  &--booking {
    min-width: 117px;
    height: 36px;
  }
  &--nav {
    padding: 10px;
    height: auto;
    min-width: auto;
    background: none;
    color: $secondary-gray-70;

    @include text-style($text-body-size, $text-body-line, $font-weight-medium);

    &:hover {
      color: $secondary-gray-50;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
