@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  opacity: 1;
  background-color: transparent;

  &--primary {
    background-color: $primary-cyan-70;
    color: $color-white;
    padding: 10px 20px;
    font-size: $text-btn-size;

    &:hover {
      background-color: $primary-cyan-50;
    }

    &--outline {
      background: rgba(255, 255, 2255, 0.5);
      color: $primary-cyan-70;
      border: 1px solid $primary-cyan-70;
      padding: 10px 20px;
      font-size: $text-btn-size;

      &:hover {
        background-color: $primary-cyan-70;
        color: $color-white;
      }
    }
  }

  &--dialog {
    padding: 10px 20px;
    &:hover {
      background-color: $primary-cyan-50;
    }
  }
  &--booking {
    min-width: 117px;
    height: 36px;
  }
  &--nav {
    padding: 10px;
    height: auto;
    min-width: auto;
    background: none;
    color: $secondary-gray-70;

    @include text-style($text-body-size, $text-body-line, $font-weight-medium);

    &--hidden {
      display: none;
    }

    &:hover {
      color: $color-black;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
