@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.carousel__container {
  position: relative;
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel__viewport {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  height: 406px;
  @include mobile {
    height: 350px;
  }
}

.carousel__track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  li {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }
  &--left {
    left: 16px;
  }
  &--right {
    right: 16px;
  }
}

.material-symbols-outlined.carousel__expand-icon--left {
  font-size: 36px;
}

.material-symbols-outlined.carousel__expand-icon--right {
  font-size: 36px;
}

.carousel__expand-icon {
  &--left {
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $secondary-gray-10;
    opacity: 0.8;
    cursor: pointer;
    transform: rotate(180deg);
    &:hover {
      color: $color-white;
    }
  }

  &--right {
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $secondary-gray-10;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      color: $color-white;
    }
  }
}

.carousel-nav__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-nav__item {
  height: 5px;
  background-color: $color-white;
  opacity: 0.6;
  border: none;
  padding: 0;
  flex: 1;
  cursor: pointer;
  &:hover {
    background: $secondary-gray-20;
  }
  &.--active {
    background-color: $color-black;
  }
}
