@use "../abstracts/variables" as *;

.list-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    background-color: transparent;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color: $secondary-gray-70;
    &:hover {
      color: $color-black;
    }
  }
}

.material-symbols-outlined.expand-icon--left {
  font-size: 32px;
}

.material-symbols-outlined.expand-icon--right {
  font-size: 32px;
}

.expand-icon {
  &--left {
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $secondary-gray-50;
    cursor: pointer;
    transform: rotate(180deg);
    &:hover {
      color: $color-black;
    }
  }

  &--right {
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $secondary-gray-50;
    cursor: pointer;
    &:hover {
      color: $color-black;
    }
  }
}
