@use "../abstracts/variables" as *;

.list-bar__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $secondary-gray-70;
    &:hover {
      color: $color-black;
    }
  }
}

.list-bar__viewport {
  overflow: hidden;
  width: 100%;
  max-width: 1086px;
}

.list-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease;

  li {
    flex-shrink: 0;
  }
}

.list-bar li button {
  padding: 5px 15px;
  white-space: nowrap;
}

.material-symbols-outlined.expand-icon--left {
  font-size: 32px;
}

.material-symbols-outlined.expand-icon--right {
  font-size: 32px;
}

.expand-icon {
  &--left {
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $secondary-gray-50;
    cursor: pointer;
    transform: rotate(180deg);
    &:hover {
      color: $color-black;
    }
  }

  &--right {
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $secondary-gray-50;
    cursor: pointer;
    &:hover {
      color: $color-black;
    }
  }
}
