@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.search-bar {
  position: relative;
  display: flex;

  .selector {
    position: relative;
    width: 100px;
    flex-shrink: 0;
  }

  .selector__trigger {
    width: 100px;
    height: 46px;
    padding: 16px 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: $secondary-gray-10;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;

    @include text-style($text-body-size, $text-body-line, $font-weight-medium);
  }

  .selector__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .selector__arrow {
    flex-shrink: 0;
    width: 14px;
    height: 12px;

    display: inline-block;
    background-color: transparent;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background: $color-black;
  }

  .selector__options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 300px;
    padding: 1px;

    background: $color-white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px $color-blue-gray;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-4px);
    transition: 0.2s;
    z-index: 10;
  }

  .selector__options li {
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background: $color-white;

    &:hover {
      border-radius: 5px;
      background: $secondary-gray-10;
      color: $color-black;
    }
  }

  .selector__option {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .selector.is-open .selector__options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  input {
    border: none;
    padding: 15px;
    width: 300px;
    height: 46px;

    @include mobile {
      flex: 1;
      width: auto;
      min-width: 0;
    }
  }
  .btn {
    height: 46px;
    padding: 8px 15px;
    border-radius: 0 5px 5px 0;
    background-color: $primary-cyan-70;
    color: $color-white;
    flex-shrink: 0;
    &:hover {
      background-color: $primary-cyan-50;
    }
  }
}
