@use "../abstracts/variables" as *;

.thankyou-container {
  min-height: calc(100vh - 64px - 114px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  color: $secondary-gray-70;
  border: 1px solid $secondary-gray-20;
  border-radius: 10px;
  padding: 40px 80px;
}

.material-symbols-outlined.check_circle--icon {
  font-size: 80px;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
