@use "abstracts/variables";
@use "abstracts/mixin";

@use "base/reset";
@use "base/base";
@use "base/fontStyle";

@use "layout/header";
@use "layout/footer";

@use "components/button";
@use "components/card";

@use "pages/index";
